.app{
  height: 100vh;
}

.gallery_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.gallery_comp{
  padding: 16px;
  background-color: #eee;
}

.image{
  width: 200px;
  height: 200px;
  cursor: pointer;
}